<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<a class="navbar-brand" href="#">Let's read some news</a>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Wallstreet Journal Scraper</h1>
  <p class="lead">Check out some articles below. Feel free to click and leave a comment!</p>
  <hr class="my-4">
  <p></p>
</div>  
<section class="notes">
<div class="card">
  <h5 class="card-header">Comment Section</h5>
  <div class="card-body">
    <h3 id="noteSection"><p></p><h3>
  </div>
</div>
</section>
<section>
<div class="card">
  <h5 class="card-header">Featured Articles</h5>
  <div class="card-body">
    <p id="articleSpace"></p>
  </div>
</div>

</div>
</section>